.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F99D1C;
  padding: 10px;
}

.station-container {
  display: flex;
  align-items: center;
}

.station-name {
  margin: 0 20px;
  color: black; /* Change font color to black */
  text-align: center;
}

.swap-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.swap-icon {
  width: 50px;
  height: 50px;
}

ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
}

li {
  margin-bottom: 10px; /* Add some space between list items */
}

hr.solid {
  border-top: 1px solid #ddd9d9;
  border-radius: 10px;
  width: 50%; /* Set the width to 50% */
  margin: 20px auto; /* Center the divider */
}

/* Support for future icon implementation */
.icon {
  color: white;
  background: #777;
  border-radius: 12px;
  border: 2px solid white;
  height: 24px;
  width: 24px;
  text-align: center;
  line-height: 22px;
  font-weight: bold;
}

/* Support for future line specific colour scheme */
.sydneytrains.icon.line-T1 {
  background: #F99D1C;
}

.sydneytrains.icon.line-T2 {
  background: #0098cd;
}

.sydneytrains.icon.line-T3 {
  background: #f37021;
}

.sydneytrains.icon.line-T4 {
  background: #005aa3;
}

.sydneytrains.icon.line-T5 {
  background: #c4258f;
}

.sydneytrains.icon.line-T7 {
  background: #6f818e;
}

.sydneytrains.icon.line-T8 {
  background: #00954c;
}

.sydneytrains.icon.line-T9 {
  background: #d11f2f;
}

.leg-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon-container {
  flex: 0 0 50px; /* Fixed width for the icon container */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.leg-info {
  flex: 1; /* Take up the remaining space */
}


